<%=form_for @transfer do |f|%>
  <div class="field">
    <%=f.label :Recipient%> <br>
    <%=f.text_field :recipient, placeholder: "Enter user email/phone"%>
  </div>
  <div class="field">
    <%=f.label :Amount%> <br>
    <%=f.text_field :amount, placeholder: "Amount"%>
  </div>
  <br>
  <div class="field">
    <%=f.submit "Send"%>
  </div>
<%end%>
